<ion-header>
  <ion-toolbar>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label><br><br>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label><br><br>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col><br><br><br>
        <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><br><br>
        <p class="ion-text-center">
          <a href="/login">¿Ya cuenta con un usuario?<br> Click aquí</a>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>